/* Hamburger Icon */

.hamburgerIcon {
    position: relative;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 1;
}

.hamburgerIcon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    padding: 1px;

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;

    background: linear-gradient(
        160deg,
        rgb(247, 149, 51),
        rgb(243, 112, 85),
        rgb(239, 78, 123),
        rgb(161, 102, 171),
        rgb(80, 115, 184),
        rgb(16, 152, 173),
        rgb(7, 179, 155),
        rgb(74 222 128)
    );
    z-index: -1;
    filter: saturate(0.8);

    transition: all;
    transition-duration: 0.2s;
}

.hamburgerIcon:hover::after {
    filter: saturate(1.1);
}

.hamburgerIcon::before {
    content: '';
    background: linear-gradient(
        160deg,
        rgb(247, 149, 51),
        rgb(243, 112, 85),
        rgb(239, 78, 123),
        rgb(161, 102, 171),
        rgb(80, 115, 184),
        rgb(16, 152, 173),
        rgb(7, 179, 155),
        rgb(74 222 128)
    );
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -20;
    filter: blur(15px);
    opacity: 0;
    transition: all;
    transition-duration: 0.2s;
}

.hamburgerIcon::before {
    opacity: 0.4;
    animation: navEffect 5s linear infinite;
}

@keyframes navEffect {
    0% {
        opacity: 0.2;
        filter: blur(15px);
    }
    20% {
        opacity: 0.4;
        filter: blur(18px);
    }
    40% {
        opacity: 0.5;
        filter: blur(20px);
    }
    80% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.2;
        filter: blur(15px);
    }
}

/*Navbar rainbow bar*/

#navRainbowBar {
    background-image: linear-gradient(
        180deg,
        rgb(247, 149, 51),
        rgb(243, 112, 85),
        rgb(239, 78, 123),
        rgb(161, 102, 171),
        rgb(80, 115, 184),
        rgb(16, 152, 173),
        rgb(7, 179, 155),
        rgb(74 222 128)
    );

    writing-mode: vertical-lr;
    text-orientation: mixed;

    background-position: 0% 50%;

    #rainbowBarContent {
        animation: marquee 18s linear infinite;
    }
}

@keyframes marquee {
    to {
        transform: translateY(-100%);
    }
}

.bookCallBtn {
    z-index: 10;
}
.bookCallBtn::after {
    content: '';
    background: linear-gradient(
        180deg,
        rgb(247, 149, 51),
        rgb(243, 112, 85),
        rgb(239, 78, 123),
        rgb(161, 102, 171),
        rgb(80, 115, 184),
        rgb(16, 152, 173),
        rgb(7, 179, 155),
        rgb(74 222 128)
    );
    z-index: -10;
    position: absolute;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    filter: blur(10px);
    opacity: 0;
    transition: all;
    transition-duration: 200ms;
}

.bookCallBtn:hover::after {
    opacity: 0.4;
}

#navLogo {
    /* background-image: url(../../../public/brand/ml_logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; */
    mask-image: url(../../../public/brand/ml_logo.svg);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100%;
    -webkit-backdrop-filter: invert(1) hue-rotate(-22deg) contrast(300%)
        brightness(1);
    backdrop-filter: invert(1) hue-rotate(-22deg) contrast(300%) brightness(1);
}
