@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-sourceSerif;
}

html {
    @apply bg-black;
}

/*LENIS*/

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}
.lenis.lenis-smooth iframe {
    pointer-events: none;
}

a {
}

p {
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-3xl;
}

h3 {
}

h4 {
}

h5 {
}

strong {
    @apply font-owners font-extrabold uppercase;
}

em {
    @apply font-charm italic font-bold;
}

form {
    fieldset {
        @apply w-full flex flex-col sm:flex-row gap-4;
    }

    label {
        @apply w-full flex flex-col gap-2 text-xl;
    }

    .container {
        @apply w-full relative;

        img {
            @apply absolute h-full w-full scale-105;
        }
    }

    input,
    textarea {
        @apply w-full text-base bg-transparent border-none focus:outline-none hover:cursor-text px-3 py-2;

        -webkit-text-fill-color: black;
        -webkit-background-clip: text;

        &::placeholder {
            color: red;
            opacity: 1; /* Firefox */
        }

        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: red;
        }
    }
}

/* ScrollBar */
body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

/* Buttons */

.btnFilter {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px) brightness(0.35) contrast(0.8) saturate(8)
        hue-rotate(8deg);
    -webkit-backdrop-filter: blur(12px) brightness(0.35) contrast(0.8)
        saturate(8) hue-rotate(8deg);
}

.blurryBtn {
    box-shadow: inset 0px 0px 0px 1px rgba(256, 256, 256, 0.2);
    transition: all;
    transition-duration: 400ms;
}

.blurryBtnFill {
    background: radial-gradient(
        rgb(247, 149, 51),
        rgb(243, 112, 85),
        rgb(161, 102, 171),
        rgb(16, 152, 173),
        rgb(7, 179, 155),
        rgb(74, 222, 128)
    );

    filter: blur(26px) saturate(6.5);
    opacity: 0.6;
}

.blurryBtnText {
    mix-blend-mode: exclusion;
    filter: contrast(1) invert(0);
}

.blurryBtn:hover {
    .blurryBtnText {
        filter: contrast(0.8) invert(0.1);
    }
}

.retroButton {
    text-shadow: black 1px 2px 1px;
}
.retroButton:hover {
    text-shadow: none;
}

#footerMail {
    text-shadow: rgb(249, 158, 11) -4px -4px 6px,
        rgb(249, 158, 11) -8px -10px 20px, black 2px 2px 1px;
}

#footerMail:hover {
    text-shadow: black 2px 2px 1px;
    color: red;
}

#contact {
    background-image: url('/images/contact/paper_texture.jpg');
    background-repeat: repeat;
}

.about-photo {
    transform: rotate3d(-1, -1, 0, 20deg);
}

/* FOOTER */

#footerTop {
    box-shadow: 5px 5px 10px blue, 10px 10px 10px green, 15px 15px 10px yellow,
        20px 20px 12px red;
}
