#radial-gradient {
    @apply absolute top-0 w-full h-full;

    background: radial-gradient(ellipse at top, rgb(80, 115, 184), transparent),
        radial-gradient(ellipse at bottom, #000, transparent);

    /* background: radial-gradient(
        ellipse at bottom,
        #000 15%,
        #a84005 30%,
        #4d9c0d 60%
    );
    background-size: 400%;
    background-position: 50%;
    background-repeat: no-repeat; */
}
