#contact {
    #contact-bg {
        background-image: url('/images/contact/paper_texture.jpg');
        background-repeat: repeat;

        -webkit-mask-image: url('/images/contact/paper_edge_mask.png');
        mask-image: url('/images/contact/paper_edge_mask.png');
        mask-size: 100% auto;
        mask-position: top left;
        mask-repeat: no-repeat;
    }
}

form {
    fieldset {
        @apply w-full flex flex-col sm:flex-row gap-3;
    }

    label {
        @apply w-full flex flex-col gap-2 text-base;

        & > span {
            @apply text-base leading-tight text-red-600;
        }
    }

    .container {
        @apply w-full relative;

        &.focused {
            @apply outline-dashed outline-2 outline-offset-2 outline-red-600;
        }
    }

    input,
    textarea {
        @apply w-full font-sans text-sm bg-transparent border-none placeholder:text-stone-600 focus:outline-none hover:cursor-text p-3;

        -webkit-background-clip: text;

        &::placeholder {
            opacity: 1; /* Firefox */
        }

        &::-ms-input-placeholder {
            /* Edge 12 -18 */
        }
    }

    footer {
        @apply flex flex-col;
    }
}

.PhoneInput {
    @apply px-3;
}

.PhoneInputCountryIcon {
    @apply flex items-center justify-center bg-transparent shadow-none;
}

.PhoneInputCountryIcon--border {
    box-shadow: none !important;
}

.PhoneInputCountrySelectArrow {
    color: white !important;
}

img.PhoneInputCountryIconImg {
    width: 60% !important;
    height: 60% !important;
}
